<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home 🏡</title>
  </head>
  <body>
    <!--Display Variable-->
    <!-- <%= name + (2 + 2) %> -->

    <!-- Conditional Statement -->
    <!-- <% if(userId === 20) { %>
    <h1>User ID: <%= userId %></h1>
    <% } else if (userId === 30) {%>
      <h2>User Id: <%= userId %></h2>
      <% } else { %>
        <h1>Nothing...</h1>
        <% } %> -->

    <!-- loops -->
    <!-- <% for (let i =0; i< 10; i++) { %>
      <h1><%= i %></h1>
      <% } %> -->

    <!-- <% const data = [1,2,3,4,5] %>
      <% for(d in data){ %>
        <h1><%= d %></h1>
        <% } %> -->

    <% var current = new Date() %> <%= current %>
  </body>
</html>
